/* Reference guide: https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
   Patterned after: https://www.w3.org/TR/css-backgrounds-3 */

.outlined {
    -fx-border-color: #757575;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.dev-outline {
    -fx-border-color: #FF0000;
    -fx-border-width: 0.5;
}